.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    resize: both;
    overflow: auto;
    padding: 1rem;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}